<form class="location-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{location.img}}" data-edit="img" title="{{location.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{location.name}}" placeholder="Name"/></h1>
    </header>

    <section class="inner-locations">
        <h3>Inner Locations</h3>
        <ol class="location-inner-locations">
        {{#each location.inner-locations as |inner-location id|}}
            <li class="location-inner-location" data-inner-location-id="{{id}}">
                <div class="inner-location-name">
                  <img src="{{inner-location.img}}" title="{{inner-location.name}}" width="24" height="24"/>
                    <h4>{{inner-location.name}}</h4>
                </div>
                <div class="inner-location-controls">
                    <a class="inner-location-control inner-location-edit" title="Edit inner-location"><i class="fas fa-edit"></i></a>
                    <a class="inner-location-control inner-location-delete" title="Delete inner-location"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </section>
</form>

